/* add your CSS here */

.description ul {
  list-style-type: none;
}

.description li > span {
  font-weight: bold;
}

.card {
  background-image: url("bg.jpg");
  box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
  border: solid orange 10px;
  border-radius: 10px;
  padding: 2px 15px 15px 15px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.wrapper {
  width: 360px;
}

.card h3 {
  font-size: 1.6em;
  color: white;
  font-family: "Trebuchet MS";
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 2px;
  border: solid rgba(255, 255, 255, 0.65) 1px;
  border-radius: 5px;
}
/* Ugly as shit border around H3, but since it was mandatory oh well.*/

.description {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  border: solid rgba(255, 255, 255, 0.65) 1px;
  padding: 5px 10px 5px 10px;
  margin-top: 10px;
}

img {
	width: 300px;
	border-radius: 8px;
	border: solid rgba(255, 255, 255, 0.8) 6px;
}

.fact {
  font-style: italic;
}

